{% load static %}



<nav>
    <ul id="navigation">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
      <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form></li>
        {% if request.user.is_authenticated %}
        <li><a href="#">Сообщения</a></li>
        <li><a href="#">Профиль <i class="ti-angle-down"></i></a>
            <ul class="submenu">
                <li><a href="blog.html">dogs</a></li>
                <li><a href="single-blog.html">cats</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}">Войти</a></li>
        <li><a href="{% url 'registration' %}">Регистрация</a></li>
        {% endif %}
    </ul>
</nav>