{% load static %}


<nav>
    <div class="modal" tabindex="-1" role="dialog" id="Modelsignup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" class="modal-body">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="modal" tabindex="-1" role="dialog" id="Modelregister">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" class="modal-body">
                        {% csrf_token %}
                        {{ register_form.as_p }}
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Регистрация">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    <ul id="navigation">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </li>
        {% if request.user.is_authenticated %}
        <li><a href="#">Сообщения</a></li>
        <li><a href="{% url 'profile_page' %}">Профиль <i class="ti-angle-down"></i></a>
            <ul class="submenu">
                <li><a href="blog.html">dogs</a></li>
                <li><a href="single-blog.html">cats</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="" data-bs-toggle="modal" data-bs-target="#Modelsignup">Войти</a></li>
        <li><a href="" data-bs-toggle="modal" data-bs-target="#Modelregister">Регистрация</a></li>
        {% endif %}
    </ul>
</nav>