{% load static %}
{% if request.user.is_authenticated %}
<div>
    <ul class="submenu">
            <li><a href="#">Мои питомцы</a></li>
            <li><a href="#">Мои события</a></li>
            <li><a href="#">Мои группы</a></li>
            <li><a href="#">Мои места</a></li>
        </ul>
</div>
{% endif%}
<br>
<div>
            <ul class="submenu">
            <li><a href="#">Фильтр 1</a></li>
            <li><a href="#">Фильтр</a></li>
            <li><a href="#">Фильтр</a></li>
            <li><a href="#">Фильтр</a></li>
        </ul>
</div>


